# Site
title:              Matthew C. Baron
bio:                'Acoustics and Signal Processing Advanced Development Engineer \\ Hobbyist Photographer'
description:        "Acoustics and Signal Processing Advanced Development Engineer \\ Hobbyist Photographer"
locale:             en_US
baseurl: "" # the subpath of your site, e.g. /blog
url: "mcbaron.org" # the base hostname & protocol for your site

defaults:
- scope:
    path: ''
    type: posts
  values:
    permalink: "/blog/:title/"
    layout: post
    author: mcbaron

# Jekyll
permalink:          /blog/:title/
markdown:           kramdown
highlighter:        rouge
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  enable_coderay:   false
mathjax:            true
sass:
  sass_dir:         _sass
  style:            compressed

# Comments
disqus_shortname:   default

# Social
analytics-id:       "default"
twitter:            mbaron
facebook:           default
instagram:          default
github:             mcbaron

# personal
location:           Los Angeles, CA
phone:              default
email:              mcbaron@cmu.edu

# Gems
gems:
  - jekyll-mentions
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page:num/"

jekyll-mentions:
    base_url: https://github.com

# Exclude list
exclude: [README.md, Gemfile, Gemfile.lock, node_modules, gulpfile.js, package.json, _site, src, vendor, CNAME, LICENSE, Rakefile, old]
