<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}"><img src="{{ "/images/download.png" | absolute_url }}" alt="logo" height="32" style="vertical-align:middle"/></a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Photo Blog</a></li>
  <li class="{% if page.url contains '/project/' %} active {% endif %}"><a href="{{ "/projects/" | absolute_url }}">Projects</a></li>  <!-- <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li> -->
</ul>
